@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,700;0,900;1,100;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tajawal, sans-serif;
    height: 100%;
}

.container {
    margin: 20px auto;
    width: 1000px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.game-info .category span{
    color: #e91e63;
}

hr {
    border-top: none;
    border: 2px solid #eee;
}

.row {
    display: flex;
    height: 324px;
    margin-top: 10px;
}

.hangman-draw {
    position: relative;
    background: #e7e6e6;
    padding: 20px;
    height: 100%;
    flex: 1;
    border-radius: 5px;
}

.hangman-draw .attempts {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    padding: 0.175rem 0.375rem;
    border-color: transparent;
    border-bottom-left-radius: 5px;
}

.hangman-draw .attempts span {
    color: #e91e63;
}

.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    margin: auto;
}

.hangman-draw .the-stand:before {
    content: '';
    position: absolute;
    width: 4px;
    background: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}

.hangman-draw .the-hang:before {
    content: '';
    position: absolute;
    height: 4px;
    background: #222;
    width: 100px;
    left: 252px;
    top: 20px;
}

.hangman-draw .the-hang:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background: #222;
    left: 348px;
    top: 24px;
}

.hangman-draw .the-rope {
    width: 70px;
    height: 70px;
    border: 4px dashed #222;
    border-radius: 50%;
    position: absolute;
    left: 317px;
    top: 54px;
}

.hangman-draw .the-man .the-head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    border: 4px solid #222;
    left: 327px;
    top: 64px;
}

.hangman-draw .the-man .the-body {
    width: 4px;
    height: 110px;
    background: #222;
    position: absolute;
    top: 111px;
    left: 351px;
}

.hangman-draw .the-man .hands:before {
    content: '';
    width: 60px;
    height: 4px;
    background: #222;
    position: absolute;
    top: 147px;
    left: 296px;
    rotate: -30deg;

}

.hangman-draw .the-man .hands:after {
    content: '';
    width: 60px;
    height: 4px;
    background: #222;
    position: absolute;
    top: 147px;
    left: 350px;
    rotate: 30deg;
}

.hangman-draw .the-man .legs:before {
    content: '';
    width: 60px;
    height: 4px;
    background: #222;
    position: absolute;
    top: 233px;
    left: 296px;
    rotate: -30deg;
}

.hangman-draw .the-man .legs:after {
    content: '';
    width: 60px;
    height: 4px;
    background: #222;
    position: absolute;
    top: 233px;
    left: 350px;
    rotate: 30deg;
}

.letters {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: relative;
}

.letters .box {
    width: 55px;
    height: 55px;
    display: inline-block;
    text-align: center;
    background: #008688;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 55px;
    cursor: pointer;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border-radius: 3px;;

}

.letters .box:hover {
    opacity: .8;
}


.the-draw, .the-stand, .the-hang, .the-rope,
.the-head, .the-body, .hands, .legs {
    display: none;
}

.show {
    display: block;
}

.letter-guess {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
    background: #f8f8f8;
}

.letter-guess span {
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fdfdfd;
    border-bottom: 3px solid #222;
    transition: .3s;
}

.letter-guess .with-space {
    background: none;
    border: none;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.with-space:before {
    content: '';
    width: 20px;
    height: 4px;
    background: #009688;
}

.disableBtn {
    opacity: 0.3;
    pointer-events: none;
}

.text {
    background: #e91e63;
    border-color: transparent;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn {
    font-family: Tajawal;
    padding: 0.375rem 0.675rem;
    background: #008688;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;;
    transition: all 0.3s ease;
}

.btn:hover {
    letter-spacing: 3px;
    background:rgb(104, 228, 104)
}

.reset {
    margin-top: 10px;
}

.show {
    visibility: visible;
    pointer-events: all;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    background: #009688;
    border-color: transparent;
    border-radius: 6px;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.5s ease;
    translate: 500%;
    z-index: 10;
    /* flex-direction: column; */
}
.close {
    background: transparent;
    color: rgb(255, 96, 96);
    border: none;
    font-size: 1.2rem;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    transition: all 0.2s ease;
}
.close:hover {
    color:rgb(251, 66, 66);
}
.display {
    translate: 0;
}
.pop-up .inner-content {
    margin-top: 60px;
    font-size: 1.5rem;
    text-align: center;
}

.pop-up .inner-content h2 {
    margin-bottom: 10px;
}

.pop-up .inner-content span {
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.win  span {
    color: rgb(104, 228, 104);
}

.lose  span {
    color: #e91e63;
}

.reset {
    /* display: none; */
}

@media screen and (max-width: 420px) {
    .container {
        width: 90%;    
        margin: 10px auto;
    }

    .game-info h2 {
        font-size: 1rem;
        padding: 0 0.575rem
    }

    .row {
        flex-direction: column;
        flex: 0 1 auto;
        height: auto;
    }

    .row .hangman-draw {
        height: 250px;
        flex: 0 1 auto;
    }

    .hangman-draw .the-draw {
        width: 25px;
        height: 100%;
        border-bottom: 4px solid #222;
        margin: auto;
    }
    
    .hangman-draw .the-stand:before {
        content: '';
        position: absolute;
        width: 4px;
        background: #222;
        height: 180px;
        top: 50px;
        left: 50%;
        margin-left: -15px;
    }
    
    .hangman-draw .the-hang:before {
        content: '';
        position: absolute;
        height: 4px;
        background: #222;
        width: 60px;
        left: 155px;
        top: 50px;
    }
    
    .hangman-draw .the-hang:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 20px;
        background: #222;
        left: 215px;
        top: 50px;
    }
    
    .hangman-draw .the-rope {
        width: 45px;
        height: 45px;
        border: 4px dashed #222;
        border-radius: 50%;
        position: absolute;
        left: 195px;
        top: 69px;
    }
    
    .hangman-draw .the-man .the-head {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        border: 4px solid #222;
        left: 203px;
        top: 76px;
    }
    
    .hangman-draw .the-man .the-body {
        width: 4px;
        height: 80px;
        background: #222;
        position: absolute;
        top: 106px;
        left: 216px;
    }
    
    .hangman-draw .the-man .hands:before {
        content: '';
        width: 40px;
        height: 4px;
        background: #222;
        position: absolute;
        top: 127px;
        left: 180px;
        rotate: -30deg;
    
    }
    
    .hangman-draw .the-man .hands:after {
        content: '';
        width: 40px;
        height: 4px;
        background: #222;
        position: absolute;
        top: 127px;
        left: 216px;
        rotate: 30deg;
    }
    
    .hangman-draw .the-man .legs:before {
        content: '';
        width: 40px;
        height: 4px;
        background: #222;
        position: absolute;
        top: 192px;
        left: 179px;
        rotate: -30deg;
    }
    
    .hangman-draw .the-man .legs:after {
        content: '';
        width: 40px;
        height: 4px;
        background: #222;
        position: absolute;
        top: 192px;
        left: 216px;
        rotate: 30deg;
    }

    .letters {
        flex: 0 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .letters .box {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 0.975rem;
        font-size: 1rem;
        font-weight: bold;
    }

    .letter-guess {
        flex-wrap: wrap;
        gap: 0.5rem
    }

    .letter-guess span {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 1rem;
    }

    .pop-up {
        width: 20rem;
    }

    .close {
        top: 1rem;
    }
}
